[submodule "oso"]
	path = oso
	url = git@github.com:osohq/oso.git
[submodule "oso-service"]
	path = oso-service
	url = git@github.com:osohq/oso-service.git
[submodule "syntaxes"]
	path = syntaxes
	url = git@github.com:osohq/polar-grammar.git
