# Ignore everything.
**

# Selectively un-ignore files we want included in the released extension.
!CHANGELOG.md
!language-configuration.json
!LICENSE
!oso_logo.png
!out/index.js
!package.json
!README.md
!polar-grammar/syntaxes/polar.tmLanguage.json
!media/*
